* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
  font-family: 'MyFont';
  src: url('./assets/g80-rd-standard-demo-generic-19517/Generic-G80-RD-Standard-DEMO.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}


body, html{
    width: 100%;
    height: 100vh; 
}

h1 {
font-family: 'MyFont';
font-size: clamp(2rem, 5vw, 5rem);
color: white;
position: absolute;
top: 40%;
left: 12%;
width: 300px;
}

#content{
  background-image: url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}



