* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'HeadingFont';
    src: url('./assets/g80-rd-standard-demo-generic-19517/Generic-G80-RD-Standard-DEMO.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'MainFont';
    src: url('./assets/typold-font/Typold-Book500.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}


body,
html {
    width: 100%;
    height: 100vh;
}

body {
    background-color: #060606;
}



.content-primary::before {
    content: '';
    background-image: url(./assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.content-secondary {
    width: 100vw;
}
.content-secondary {
    background-color: #131313;
}

/*nav CSS */

.navbar {
    color: #eee;
    background-color: black;
    position: sticky;
    top: 0px;
    z-index: 10;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    column-gap: 3vw;
    width: 100%;
    height: 100px;
    padding: 0px 5%;
    font-size: clamp(1rem, 1.3vw, 1.5rem);
    letter-spacing: 1px;
}

.logo{
    margin-right: auto;
    width: min(16.5vw, 295px);

}

.search-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: min(15vw, 275px);
    flex-shrink: 1;
}

.search{
    height: 45px;
    flex-shrink: 1;
    width: inherit;
    background-color: #373737;
    border: none;
    border-radius: 25px;
    padding-left: 25px;
    font-size: clamp(1rem, 1.3vw, 1.5rem);
    color: white;
}

.search:focus{
    border: none;
    outline: none;
}

.search::placeholder{
    color: white;
}

.homepage, .menu, .about, .contact {
    height: fit-content;
    cursor: pointer;
    border-radius: 3px;
    padding: 10px 15px;
    font-weight: 400;
}
.homepage:hover, .menu:hover, .about:hover, .contact:hover {
    background-color: #373737;
}

.button-selected {
    color: #ffcc33;
}

/*landing page text */

.heading-container {
    color: white;
    position: absolute;
    top: 35%;
    left: 8%;
    width: 400px;
}

.main-heading {
    font-size: clamp(2.7rem, 5vw, 5.5rem);
    font-family: 'HeadingFont';
}

.heading-subtext {
    color: #f8d882;
    font-size: clamp(1.7rem, 2vw, 2rem);
    font-family: 'MainFont';
    margin-top: 10px;
}

.description-text {
    font-family: 'MainFont';
    font-size: clamp(1.3rem, 1.3vw, 1.5rem);
    margin-top: 30px;
}

/* Menu CSS */
.menu-container {
    width: 70%;
    margin: 25px auto;
    padding-bottom: 25px;
    margin-top: 40px;
    color: white;
    position: relative;
    text-align: center;
    font-family: 'MainFont';
    font-size: clamp(1.3rem, 1.3vw, 1.5rem);
}

.menu-heading {
    font-family: 'HeadingFont';
}

.menu-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.menu-button {
    padding: 10px 15px;
    margin: 10px;
    height: fit-content;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
    font-weight: bold;
    background-color: #ffcc33;
}

.menu-item-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 15px;
    row-gap: 50px;
    margin-top: 25px;
}

.menu-card {
    background-size: cover;
    background-position: center;
    height: max(275px, 10vh);
    border-radius: 3px;
}

.menu-card-1 {
    background-image: url(./assets/menu-pics/menu1.jpg);
}

.menu-card-2 {
    background-image: url(./assets/menu-pics/menu2.jpg);
}

.menu-card-3 {
    background-image: url(./assets/menu-pics/menu3.jpg);
}

.menu-card-4 {
    background-image: url(./assets/menu-pics/menu4.jpg);
}

.menu-card-5 {
    background-image: url(./assets/menu-pics/menu5.jpg)
}

.menu-card-6 {
    background-image: url(./assets/menu-pics/menu6.jpg)
}

.menu-card-7 {
    background-image: url(./assets/menu-pics/menu7.jpg)
}

.menu-card-8 {
    background-image: url(./assets/menu-pics/menu8.jpg)
}

.menu-item-name {
    font-size: clamp(1.3rem, 1.3vw, 1.5rem);
    margin-top: 15px;
}

.menu-item-description {
    font-size: clamp(0.8rem, 1vw, 1.1rem);
    color: #ccc;
    margin-top: 10px;
}

.menu-item-price {
    margin-top: 10px;
    color: #ffcc33;
}


@media screen {
    @media (max-width: 975px) {

        .content-primary::before {
            background-size: cover;
            background-position: right;
            filter: brightness(30%);
        }

        .heading-container {
            width: 100%;
            top: 25%;
            left: 0px;
            text-align: center;
        }

        .description-text{
            width: 60%;
            margin: 30px auto 0 auto;
        }
    }
}